name: Cache-Clean

on:
  schedule:
    #每周4:00
    #- cron: 0 20 * * 0
    #每天4:00
    - cron: 0 20 1 * *
  workflow_dispatch:

permissions: write-all

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Projects
        uses: actions/checkout@main

      - name: Cache Clean
        run: gh cache delete --all
